<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>@ViewBag.Message</h3>
        <ul class="nav side-menu">
            @{
                @Html.Action("_Sidebar", "Dashboard")
            }
           
        </ul>
    </div>
</div>